/*---------------------------------------------------------- Início ----------------------------------------------------*/
.background_inicio {
    background-image: url("/img_background/background_inicio.png");
    padding-bottom: 18rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_lina {
    position: absolute;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #005B59;
    font-family: saira;
    font-size: 18px;
    margin-bottom: 0px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 30px 16px;
    text-decoration: none;
    padding-left: 4rem;
}

a:hover {
    color: #00DC8D;
    text-decoration: none;
} 

h4 {
    font-family: saira;
    text-align: center;
    color: #005B59;
    padding: 15rem 45rem 0rem 3rem;
}
/*---------------------------------------------------------- Sobre -----------------------------------------------------*/
.background_sobre {
    background-image: url("/img_background/background_sobre.jpg");
    font-family: saira;
}

.titulo {
    padding: 3rem 0rem 0rem 3rem;
    font-style: saira;
    font-size: 34px;
    color: #00DC8D;
    margin-bottom: 0px;
    position: absolute;
}

.cards {
    display: flex;
    text-align: center;
}

.card {
    margin: 8% 3% 0% 3%;
    height: 525px;
    text-align: justify;           
    font-size: 18px;
    box-shadow: #565656 0.2em 0.4em 0.6em 0.3em;
}

.card-body {
    line-height: 1.3;       
}
/*---------------------------------------------------------- Equipe  ---------------------------------------------------*/
.background_equipe {
    background-image: url("/img_background/background_equipe.png");
    padding-top: 1rem;
    font-family: saira;
}

.texto_socioslina {
    padding: 17rem 0rem 0rem 0rem;
    margin-left: 83%;
    position: absolute;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

#cardgroup_socios {
    display: flex;
    flex-flow: inherit;
    padding: 7rem 0rem 0rem 2rem;
}

.texto_marcio {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.card-alan {
    padding-left: 1rem;
}

.texto_alan {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.card-murilo {
    padding-left: 1rem;
}

.texto_murilo {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.card {
    height: 450px;          
    margin-bottom: 2%;
}

.card-img-top {
    height: 250px;
}

.card-text-equipe {
    height: 140px;
    padding: 2rem 5rem 0rem 4.7rem;
}

.texto_colaboradores {
    padding: 50rem 0rem 0rem 0rem;
    margin-left: 82%;
    position: absolute;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

#cardgroup_colaboradores {
    display: flex;
    flex-flow: inherit;
    padding: 2rem 8rem 0rem 2rem;
}

.texto_wellington {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.card-guilherme {
    padding-left: 1rem;
}

.texto_guilherme {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.card-renner {
    padding-left: 1rem;
}

.texto_renner {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    color: #000000;
    text-align: center;
}
/*------------------------------------------------------- Produtos -----------------------------------------------------*/
.background_produto {
    background-image: url("/img_background/background_produtos.jpg");
    height: 580px;
    width: 1311px;
    background-repeat: no-repeat;
    background-size: cover;
}

.produtos {
    display: flex;
    padding: 7rem 0rem 0rem 0rem;
}

.produto_PIX {
    padding-left: 3rem;
    width: 570px;
    height: 430px;
}

.produto_SLL {
    padding-left: 4rem;
    margin-left: 2%;
    width: 570px;
    height: 430px;
}
/*---------------------------------------------------------- Acessos ---------------------------------------------------*/
.background_acessos {
    background-color: #00DC8D;
    height: 580px;
    width: 1311px;
}

.texto_acessos {
    padding: 10rem 2rem 0rem 0rem;
    margin-right: 0px;
    font-family: saira;
    text-align: center;
    color: #005B59;
}

.ferramentas {
    display: flex;
    padding: 2rem 3rem 0rem 9rem;
}

.ferramentas h6 {
    padding-right: 5rem;
    text-align: justify;
    color: #005B59;
}

#logo_trello {
    padding-right: 10rem;
}

#logo_email {
    padding-right: 8rem
}

#logo_slack {
    padding-right: 13rem;
}

.ferramentas div h6:active {
    -webkit-transform: scale(0.5);
    transform: scale(1.2);
}