/*---------------------------------------------------------- Início -------------------------------------------------- */
.background_inicio {
    margin-top: -1.2%;
}

.logo {
    margin: 0px 0px 0px 0px;
    padding: 0rem 0rem 0rem 0rem;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #005B59;
    font-family: saira;
    font-size: 18px;
}

li {
    float: left;
    margin-left: 10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

h4 {
    font-family: saira;
    text-align: center;
    position: absolute;
    padding: 12rem 3rem;
    color: #005B59;
}
/*---------------------------------------------------------- Sobre -------------------------------------------------- */
.background_sobre {
    position: absolute;
}

.titulo {
    padding: 3rem 0rem 0rem 3rem;
    font-style: saira;
    font-size: 34px;
    color: #00DC8D;
    margin-bottom: 0px;
    position: absolute;
}

.cards {
    display: flex;
    justify-content: space-around;
    width: 1300px;
}

.card {
    margin: 8% 3% 2% 4%;
    height: 525px;
    text-align: justify;
    font-family: saira;
    font-size: 18px;
    box-shadow: black 0.2em 0.4em 0.7em 0.1em;
}
/*---------------------------------------------------------- Equipe  -------------------------------------------------- */
.background_equipe {
    position: absolute;
    padding-top: 1rem;
}

.texto_socios {
    padding: 15rem 0rem 0rem 3rem;
    position: absolute;
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

.texto_cargos {
    position: absolute;
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
    max-width: 100%;
}

#texto_marcio {
    padding: 7rem 0rem 0rem 14rem;
}

#texto_alan {
    padding: 7rem 0rem 0rem 36rem;
}

#texto_murilo {
    padding: 7rem 0rem 0rem 0rem;
}

.card-text-equipe {
    padding-right: 4rem;
}

#cardgroup_socios {
    padding: 5rem 1rem 0rem 7rem;
}

.card {
    height: 450px;
    margin-bottom: 2%;
}

.card-img-top {
    height: 250px;
}

.card-text-equipe {
    padding-left: 4.7rem;
    height: 160px;
}

.texto_colaboradores {
    padding: 13rem 0rem 0rem 0rem;
    margin-left: 90%;
    position: absolute;
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

#texto_wellington {
    padding: 3rem 0rem 0rem 3rem;
}

#texto_guilherme {
    padding: 3rem 0rem 0rem 27rem;
}

#texto_renner {
    padding: 3rem 0rem 0rem 54rem;
}

#cardgroup_colaboradores {
    padding: 1rem 8rem 0rem 0.2rem;
}
/*-------------------------------------------------------- Produto --------------------------------------------------- */
.documentos_download {
    padding-left: 69rem;
    margin-top: -45%;
    position: absolute;
}

.texto_primeirosacessos {
    margin-top: -30%;
    position: absolute;
    padding-left: 3rem;
    padding-right: 35rem;
    text-align: justify;
}

#texto_download {
    text-align: center;
}

.produtos {
    display: flex;
    margin-top: -60%;
    padding-left: 3rem;
    margin-bottom: 2.5%;
}

.produto_SLL {
    margin-top: 3.6%;
    padding-left: 3rem;
}
/*---------------------------------------------------- Primeiros Acessos ----------------------------------------------- */
#texto_download {
    padding-right: 3rem;
    color: #005B59;
}