/*---------------------------------------------------------- Início -------------------------------------------------- */
.background_inicio {
    margin-top: -1.2%;
}

.logo_lina {
    position: absolute;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #005B59;
    font-family: saira;
    font-size: 18px;
}

li {
    float: left;
    text-align: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    padding-left: 4rem;
    margin: 0% 0% 0% 450%;
}

h4 {
    font-family: saira;
    text-align: center;
    position: absolute;
    color: #005B59;
    padding: 15rem 45rem 0rem 3rem;
}
/*---------------------------------------------------------- Sobre -------------------------------------------------- */
.background_sobre {
    position: absolute;
}

.titulo {
    padding: 3rem 0rem 0rem 3rem;
    font-style: saira;
    font-size: 34px;
    color: #00DC8D;
    margin-bottom: 0px;
    position: absolute;
}

.cards {
    display: flex;
    justify-content: space-around;
    width: 1300px;
    text-align: center;
}

.card {
    margin: 8% 3% 2% 4%;
    height: 525px;
    text-align: justify;
    font-family: saira;
    font-size: 18px;
    box-shadow: #565656 0.2em 0.4em 0.6em 0.3em;
}
/*---------------------------------------------------------- Equipe  -------------------------------------------------- */
.background_equipe {
    position: absolute;
    padding-top: 1rem;
}

.texto_socios {
    padding: 15rem 0rem 0rem 3rem;
    position: absolute;
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

.texto_cargos {
    position: absolute;
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    color: #000000;
    max-width: 100%;
}

#texto_marcio {
    padding: 0rem;      /*Padding zerado para que não ocorra um redimensionamento do mesmo quando alterado para telas menores.*/
    margin: 10% 0% 0% 20%;
}

#texto_alan {
    padding: 0rem;      /*Padding zerado para que não ocorra um redimensionamento do mesmo quando alterado para telas menores.*/
    margin: 10% 0% 0% 47%;
}

#texto_murilo {
    padding: 0rem;      /*Padding zerado para que não ocorra um redimensionamento do memso quando alterado para telas menores.*/
    margin: 10% 0% 0% 75%;
}

#cardgroup_socios {
    padding: 5rem 1rem 0rem 7rem;
}

.card {
    height: 450px;
    margin-bottom: 2%;
}

.card-text-equipe {
    height: 140px;
    padding: 2rem 5rem 0rem 4.7rem;
}

.card-img-top {
    height: 250px;
}

.texto_colaboradores {
    padding: 13rem 0rem 0rem 0rem;
    margin-left: 90%;
    position: absolute;
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    color: #000000;
}

#texto_wellington {
    padding-left: 3rem;      
    margin-top: 5%;
}

#texto_guilherme {
    margin-top: 5%;
    text-align: center;
    padding-right: 6rem;
}

#texto_renner {
    padding: 0rem 14rem 0rem 0rem;
    margin-top: 5%;
    text-align: right;
}

#cardgroup_colaboradores {
    padding: 1rem 8rem 0rem 0.2rem;
}
/*-------------------------------------------------------- Produto --------------------------------------------------- -*/
.produtos {
    display: flex;
    padding-left: 3rem;
    margin: -60% 2.5% 0% 0%;
}

.produto_SLL {
    padding-left: 4rem;
    margin: 3.9% 0rem 0rem 3%;
}
/*---------------------------------------------------- Primeiros Acessos ----------------------------------------------- */
.texto_acessos {
    padding: 14rem 45rem 0rem 3rem;
}

.ferramentas {
    padding-left: 25rem;
}

.acessos-geral {
    display: flex;
    padding-left: 20rem;
    margin: -42% 0% 2.5% 0%;
    position: absolute;
}

#logo_slack {
    padding-right: 7rem;
}

#texto_slack {
    text-align: left;
    padding-left: 5rem;
}

#logo_email {
    padding-right: 7rem;
}

#texto_email {
    text-align: left;
    padding-left: 5rem;
}

#logo_trello {
    padding-right: 7rem;
}

#texto_trello {
    text-align: left;
    padding-left: 5rem;
}

h6 {
    padding: 0rem 3rem 1rem 0rem;
    font-family: saira;
    text-align: justify;
    color: #005B59
}